/* CONTACTO */
.contacto {
    background-color: var(--colorFondo);
    padding: 5rem 0;
    margin-top: -165px;
}

.formulario-contacto {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-grupo {
    margin-bottom: 2rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #444;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: var(--texto);
    font-size: 1.6rem;
}

.form-textarea {
    min-height: 150px;
    resize: vertical;
}