/* NOTICIAS */
.noticias {
    padding: 5rem 0;
    background-color: var(--colorFondo);
    margin-top: -100px;
}

.noticias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2.5rem;
}

.noticia-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.noticia-img {
    height: 220px;
    overflow: hidden;
}

.noticia-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noticia-contenido {
    padding: 2rem;
}

.noticia-fecha {
    color: #888;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.noticia-titulo {
    font-family: var(--titulos);
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--colorPrincipal);
}

.noticia-resumen {
    margin-bottom: 1.5rem;
    color: #666;
}
